.card{
    border: 2px black solid;
    border-radius: 10px;
    background-color:#f9d71c;
    box-shadow: 7px 10px grey;
    text-align:center;
    margin-right:42%;
    margin-left:42%;
    padding-top:75px;
    padding-bottom:75px;
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}

.searchy{
    background-color: white;
    color:black;
    width: 30%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;

}

.titleText{
    font-size: 3em;
}

.subText{
    font-weight: bold;
}