.body{
    width: 100vw;
    height: 100vh;
    background-image: url("https://files.slack.com/files-pri/TK0CFM11U-FLL97G5PU/image.png");
    background-repeat: no-repeat;
    background-size: cover;
    
} 

body{
    margin:0;
    padding:0;
}