.body{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
} 

#space {
    background-image: url("https://files.slack.com/files-pri/TK0CFM11U-FLL97G5PU/image.png");
    height: 95vh;
    width: 100%;
}

body{
    margin:0;
    padding:0;
}